{% extends "tracker/main.html" %}

{% block content %}

<div class="container" style="padding:20px">

<style>
    p {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
</style>

<h1><span class="badge text-bg-secondary">Update {{ tracker.product }}</span></h1>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Product</span>
              {{ form.product }}
            </div>
        </div>
          
        <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Product count</span>
              {{ form.product_count }}
            </div>
        </div>
    
        <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Product</span>
              {{ form.product_cost }}
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

</div>